// -*- coding:utf-8-unix; mode:js; -*-
{
  presets: [
    ["env", {
      loose: true,
      targets: {
        // See http://caniuse.com/usage-table
        chrome: 53,
      },
    }],
  ],
  env: {
    production: {
      presets: [
        ["env", {
          loose: true,
          targets: {
            chrome: 53,
          },
        }],
        "babili",
      ],
      plugins: [
        ["strip-function-call", {
          strip: [
            "console.debug",
            "console.time",
            "console.timeEnd",
          ]
        }]
      ],
    },
  },
}
