// -*- coding:utf-8-unix; mode:js; -*-
{
  presets: [
    ["env", {
      loose: true,
      targets: {
        // See http://caniuse.com/usage-table
        chrome: 53,
      },
    }],
  ],
  plugins: [
    "transform-flow-strip-types",
  ],
  env: {
    production: {
      presets: [
        ["env", {
          loose: true,
          targets: {
            chrome: 53,
          },
        }],
        "babili",
      ],
      plugins: [
        "transform-flow-strip-types",
        ["strip-funciton-call", {
          strip: [ "console.debug" ]
        }]
      ],
    },
  },
}
