// -*- coding:utf-8-unix; mode:js; -*-
{
  presets: [
    ["env", {
      loose: true,
      targets: {
        // See http://caniuse.com/usage-table
        chrome: 53,
      },
    }],
  ],
  plugins: [
    "transform-flow-strip-types",
  ],
  env: {
    production: {
      presets: [
        ["env", {
          loose: true,
          targets: {
            node: 6,
            chrome: 53,
            // firefix: 50,
            safari: 10,
            edge: 13,
            ios: 10,
          },
        }],
        "babili",
      ],
      plugins: [
        "transform-flow-strip-types",
      ],
    },
  },
}
