/build/
/prod-build/
/node_modules/

*.zip
*.tsbuildinfo
.tsbuild/

playwright-report/
.playwright-mcp/
test-results/

.lock-wscript
.wafpickle-N
*.swp
.DS_Store
._*
npm-debug.log

/.claude
/.eslintcache
