body {
  font-size: 100%;
}
h1 > img {
  width: 1em;
}
.config-table th {
  text-align: right;
}
input {
  border: solid gray 1px;
  padding: 2px;
}
input[is^="key"] {
  width: 12em;
  background-image: url("keyboard-icon.png");
  background-position: calc(100% - 2px) center;
  background-repeat: no-repeat;
  background-size: 1.1em;
}
details {
  margin: 9px 6px;
  background-color: #eee;
}
summary {
  padding: 9px 3px;
  cursor: pointer;
}

/* textarea or similar elements */
textarea {
  resize: both;
  width: 500px;
  height: 20em;
  font-size: 14px;
  font-family:
    Consolas,
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace,
    sans-serif;
}

/* storage usage */
#total-storage-usage {
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: #eee;
  padding: 8px;
}

.storage-limit {
  background-color: #fcc;
  color: red;
  font-weight: bolder;
}
#total-storage-usage.storage-limit {
  background-color: #fcc;
}
